
.m-c{
    position: fixed;
    display: block;
    padding: 20px;
    border-radius: 4px;
    /* box-sizing: border-box; */
    /* overflow: auto; */
    outline: 20;
    width: 40%;
    height: 40%;
    right: 30%;
    top: 50%;
    
    min-height: inherit;
    max-height: inherit;
    margin-top: -400px;
    z-index: 100;

    background-color:lavender;
  }



  .my-dialog {
    z-index: 10000;
  }
  
  .my-backdrop {
    z-index: 9999;
  }

  .button-container {
    text-align: right;
  }
  .button {
    margin-left: 10px;
  }